---
// src/pages/blog/index.astro
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
import PagesLayout from "@/layouts/PagesLayout.astro";
import BlogPostPreview from "@/components/shared/BlogPostPreview.astro";

import CardsContainer from "@/components/shared/CardsContainer.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";

const title = "Nuestro Blog";
const description = "Explora nuestros últimos artículos y noticias.";
const image = "/path/to/default/blog/image.jpg";
---

<PagesLayout title={title} description={description} image={image}>
	<div class="Container">
		<SectionHeading title={title} description={description} />
		<CardsContainer>
			{posts.map((post) => <BlogPostPreview post={post} />)}
		</CardsContainer>
	</div>
</PagesLayout>
