---
// import { getCollection } from "astro:content";
import config from "@/data/config";
import PagesLayout from "@/layouts/PagesLayout.astro";
import Hero from "@/components/Hero.astro";
import CardsContainer from "@/components/shared/CardsContainer.astro";
import PlanCard from "@/components/shared/PlanCard.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";
import Button from "@/components/shared/Button.astro";
---

<PagesLayout
	title="Muller And Kong Travel - Inicio"
	description="Tours y excursiones en la región de Coquimbo"
	image="/screenshot.png">
	<Hero />

	<SectionHeading
		title="Tours en la región de Coquimbo"
		description="Ven a conocer nuestras acitividades en termas, ríos, montaña, parques temáticos con nuestro equipo que está preparado para guiarte."
	/>

	<Button text="una cosa" classes="Button Button--ghost" url="/" />

	<div class="Container">
		<CardsContainer>
			{
				config.plans.slice(0, 6).map((plan) => (
					<PlanCard
						price={plan.price}
						title={plan.name}
						description={plan.description}
						classes="Color"
						tag={plan.tag}
						features={plan.features}
						thumbnailCard={plan.featureImage}
						altThumbnailCard={plan.name}>
						{
							<a href={`/tours/${plan.slug}`} class="Button ButtonDefault">
								Lo quiero!
							</a>
						}
					</PlanCard>
				))
			}
		</CardsContainer>

		<SectionHeading
			title="¡Ven a conocer todos nuestros tourss!"
			description="Conoce todos nuestros tours en la región de Coquimbo">
			<Button
				text="Ver todos los planes"
				url="/tours"
				classes="Button ButtonSecondary"
			/>
		</SectionHeading>
	</div>
</PagesLayout>
