---
import config from "@/data/config";
import PagesLayout from "@/layouts/PagesLayout.astro";
import PlanCard from "@/components/shared/PlanCard.astro";
import CardsContainer from "@/components/shared/CardsContainer.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";
---

<PagesLayout
	title="Muller And Kong Travel - Inicio"
	description="Tours y excursiones en la región de Coquimbo"
	image="/screenshot.png">
	<SectionHeading
		title="Conoce todos nuestros tours"
		description="Si buscas montaña, ver ballenas, caminar por la rivera de un río..."
	/>
	<div class="Container">
		<CardsContainer>
			{
				config.plans.slice(0, 6).map((plan, index) => (
					<PlanCard
						price={plan.price}
						title={plan.name}
						description={plan.description}
						classes="Color"
						tag={plan.tag}
						features={plan.features}
						thumbnailCard={plan.featureImage}
						altThumbnailCard={plan.name}>
						{
							<a href={`/tours/${plan.slug}`} class="Button ButtonSecondary">
								Lo quiero!
							</a>
						}
					</PlanCard>
				))
			}
		</CardsContainer>
	</div>
</PagesLayout>
