---
import { getCollection } from "astro:content";
import TourPlanPreview from "@/components/shared/TourPlanPreview.astro";
import PagesLayout from "@/layouts/PagesLayout.astro";
import CardsContainer from "@/components/shared/CardsContainer.astro";
import SectionHeading from "@/components/shared/SectionHeading.astro";

const tours = await getCollection("tours");

const title = "Tours Disponibles";
const description = "Descubre nuestros emocionantes tours y aventuras.";
const image = "/path/to/default/tour/image.jpg";
---

<PagesLayout title={title} description={description} image={image}>
	<div class="Container">
		<SectionHeading title={title} description={description} />
		<CardsContainer>
			{tours.map((tour) => <TourPlanPreview tour={tour} />)}
		</CardsContainer>
	</div>
</PagesLayout>
