---
import config from "@/data/config";
import PagesLayout from "@/layouts/PagesLayout.astro";
export async function getStaticPaths() {
  return config.plans.map((plan) => ({
    params: { slug: plan.slug },
  }));
}

const { slug } = Astro.params;
const plan = config.plans.find((plan) => plan.slug === slug);

if (!plan) {
  throw new Error(`Plan with slug ${slug} not found`);
}
---

<PagesLayout title="titulo" description="descripcion" image="/screenshot.png">
  <div class="Container">
    <div class="PlanDetail">
      <h1 class="PlanDetail-title">{plan.name}</h1>
      <div class="PlanDetail-picture">
        <img src={plan.featureImage} alt={"alt"} />
      </div>
      <div class="PlanDetail-description">
        <p>{plan.content}</p>
      </div>

      <ul class="PlanDetail-features">
        {plan.features.map((item) => <li>{item}</li>)}
      </ul>
      <span class="PlanDetail-price">
        $ {plan.price.toLocaleString("es-CL")}</span
      >
      <ul class="PlanDetail-horarios">
        <li>Horario de salida {plan.horarioSalida}</li>
        <li>Horario de llegada {plan.horarioRegreso}</li>
      </ul>
    </div>
  </div>
</PagesLayout>

<style lang="scss">
  .PlanDetail {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    &-price {
      font-size: var(--text-display-3);
      font-weight: bolder;
    }

    &-features {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 0.5rem;

      li {
        background-color: var(--accent-color);
        padding: var(--padding-md);
        font-size: 1rem;
      }
    }

    &-horarios {
      list-style: none;
      padding: 0;
      font-weight: 700;
    }
  }
</style>
