---
// src/layouts/BlogPost.astro
import { type CollectionEntry } from "astro:content";
import PagesLayout from "./PagesLayout.astro";

interface Props {
	entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, date, author } = entry.data;
const description = `Artículo de blog: ${title}${author ? ` por ${author}` : ""}`;
const image = "/path/to/default/blog/image.jpg";

function formatDate(date: Date): string {
	return date.toLocaleDateString("es-CL", {
		year: "numeric",
		month: "long",
		day: "numeric",
	});
}
---

<PagesLayout title={title} description={description} image={image}>
	<div class="Container">
		<h1>{title}</h1>
		<p class="meta">
			Publicado por
			{author && `Por ${author}`},
			{date && ` el ${formatDate(date)}`}
		</p>
		<Content />
	</div>
</PagesLayout>
