---
// src/layouts/BlogPost.astro
import { type CollectionEntry } from "astro:content";
import PagesLayout from "./PagesLayout.astro";

interface Props {
	entry: CollectionEntry<"tours">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title } = entry.data;
const description = `Artículo de blog: ${title}`;
const image = "/path/to/default/blog/image.jpg";
---

<PagesLayout title={title} description={description} image={image}>
	<div class="Container">
		<article class="MdContents">
			<h1 class="ContentTitle">{title}</h1>
			<Content />
		</article>
	</div>
</PagesLayout>
